go 1.19

use (
	./000-fraud-variation
	./000-two-sum-closest-k
	./101-symmetric-tree
	./1026-maximum-difference-between-node-and-ancestor
	./1207-unique-number-of-occurrences
	./1229-meeting-scheduler
	./1235-maximum-profit-in-job-scheduling
	./1277-count-square-submatricies-with-all-ones
	./15-three-sum
	./1657-determine-if-string-halves-are-close
	./167-two-sum-ii
	./1704-determine-if-string-halves-are-alike
	./1752-check-if-array-is-sorted-and-rotated
	./1861-rotating-the-box
	./204-count-primes
	./2225-find-players-with-zero-or-one-losses
	./2244-minimum-rounds-to-complete-all-tasks
	./2389-longest-subsequence-with-limited-sum
	./3-longest-substring-without-repeating-characters
	./328-odd-even-linked-list
	./36-valid-sudoku
	./380-insert-delete-get-random-O1
	./446-arithmetic-slices-ii-subsequence
	./452-min-number-of-arrows-to-burst-balloons
	./68-text-justification
	./723-candy-crush
	./79-word-search
	./872-leaf-similar-trees
	./876-middle-of-the-linked-list
	./907-sum-of-subarray-minimums
	./931-minimum-falling-path
	./938-range-sum-of-bst
	./944-delete-columns-to-make-sorted
	./heap
)
