go 1.19

use (
	./101-symmetric-tree
	./1207-unique-number-of-occurrences
	./1235-maximum-profit-in-job-scheduling
	./1657-determine-if-string-halves-are-close
	./1704-determine-if-string-halves-are-alike
	./1752-check-if-array-is-sorted-and-rotated
	./1861-rotating-the-box
	./204-count-primes
	./2225-find-players-with-zero-or-one-losses
	./3-longest-substring-without-repeating-characters
	./328-odd-even-linked-list
	./36-valid-sudoku
	./380-insert-delete-get-random-O1
	./446-arithmetic-slices-ii-subsequence
	./68-text-justification
	./79-word-search
	./872-leaf-similar-trees
	./876-middle-of-the-linked-list
	./907-sum-of-subarray-minimums
	./938-range-sum-of-bst
	./heap
)
