go 1.19

use (
	./1235-maximum-profit-in-job-scheduling
	./2225-find-players-with-zero-or-one-losses
	./36-valid-sudoku
	./446-arithmetic-slices-ii-subsequence
	./79-word-search
	./907-sum-of-subarray-minimums
	./heap
)
